.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Navbar links hover */
.link-hover::after {
  content: '';
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -34px;
  background-color: rgb(255, 0, 170);
  height: 3px;
  transition: 0.5s ease-in-out;
}

.link-hover:hover::after {
  width: 100%;
}